@use "./variables" as *;
@use "./global";
@use "./mixins";
@use "./responsive";

body {
  background: $background-gradient;
  font-family: $font-main;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
